@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .border-helper {
    @apply border border-red-600;
  }
}

@layer components {
  .text-decoration {
    @apply before:content-["\2022"] before:text-black before:pe-2 before:inline-block before:font-bold;
  }
  .text-clean {
    @apply before:content-["\0020"];
  }
}

.search-bar,
.user-input,
.pwd-input {
  border-color: transparent;
  border-style: none;
  border-width: 0px;
  outline: none;
  padding: 5px;
}

.card:not(:first-of-type) .card-img-top {
  display: none;
}
